.b {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: calc(100vh - 36px - 24px);
	color: white;
	background-color: blue;

	:global {
		.star {
			color: red;
		}
	}
}
